<html>
 <head>
   <link rel="stylesheet" href="/style.css">
 </head>
 <body>
     <h1>BOOKMARKS</h1>
     <h3>ADD BOOKMARK 👇</h3>
      <form action="/bookmarks" method="post">
          <input type="text" name="url" placeholder="URL" />
          <input type="text" name="title" placeholder="Title" />
          <input type="submit" value="ADD" />
      </form>
      <p>
        <%= flash[:notice] %>
      </p>
      <br>
      <ul>
        <% @bookmarks.each do |bookmark| %>
          <li class="bookmark" id="bookmark-<%= bookmark.id %>">
            <a href="<%= bookmark.url %>" target="_blank">
              <%= bookmark.title %>
            </a>
            <form action="/bookmarks/<%= bookmark.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE"/>
              <input type="submit" value="DELETE" />
            </form>
            <form action="/bookmarks/<%=bookmark.id%>/edit">
              <input type="submit" value="EDIT"/>
            </form>
            <form action="/bookmarks/<%=bookmark.id%>/comments/new" method="get">
              <input type="submit" value="ADD COMMENT"/>
            </form>
            <ul>
              <% bookmark.comments.each do |comment| %>
                <li><%= comment['text'] %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
  </body>
</html>
